
#page_body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: darkgray;
    color: black;
}

.flex-container {
    display: flex;
}

.flex-item {
    flex: 1; /* This makes each item take up an equal amount of space */
    padding: 10px; /* Add some padding around each section */
    margin: 5px;
}

#flex-item-custom{
    background-color: #f8f9fa;
}

.section-subtitle{
    background-color: darkgray;
}